
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav-header1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;

    background-color: darkcyan !important;
    border: none !important;
    color: white !important;
}

.nav-header1 h3 a{
    color: white !important;
    text-decoration: none;
}
h3.ui-title {
    margin-left: 10px !important;
}
a{
    text-shadow: none !important;
    box-shadow: none !important;
}
.custom-header {
    background-color: darkcyan !important;
    border: none !important;
}

.main-page-img1 {
    background-image: url(img/mainpage.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    color: white;
    padding-top: 60px;
}

.paragraph h2 {
    text-align: center;
    margin: 20px 0;
}

.paragraph p {
    margin: 10px 20px;
    text-align: center;
}
.find-out-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
}
.find-out-btn a i{
    margin-left: 10px;
}
.find-out-btn a{
    display: inline !important;

    
}
.main-page-img2 {
    background-image: url(img/mainpage2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    color: white;
}

.main-page-img3 {
    background-image: url(img/mainpage3.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    color: white;
}


.footer {
    border: none !important;
}

.footer div {
    border: none !important;
}

.footer div ul {
    background-color: darkcyan !important;
}

.footer div ul a {
    color: white !important;
    background-color: darkcyan !important;
    border: none !important;
}

/* contact page */
.follow-us {
    padding: 20px;
}

.follow-us h2 {
    text-align: center;
}
.ui-btn-darkcyan {
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 10px !important;
}
.follow-us .icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 22px;

}

.follow-us .icon i {
    padding: 0 10px;
}

input {
    border: 1px solid grey !important;
    padding: 12px !important;
    border-radius: 20px !important;


}

.contact-form {
    margin-top: 20px !important;
}

.ui-content {
    background-color: white !important;
}

.form-heading {
    text-align: center;
    margin-top: 5px;
}

.follow-us {
    background-color: white !important;

}

.ui-shadow-inset {
    box-shadow: none !important;
    border: none !important;
}

.ui-field-contain {
    border: none !important;
}

.ui-input-text {
    margin: 0 !important;
}

.contact-form textarea {
    border-radius: 20px;
    height: 120px !important;
}

.contact-btn {
    background-color: darkcyan !important;
    border: none !important;
    border-radius: 20px !important;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-instagram {
    color: #FCAF45;
}

.fa-facebook {
    color: #1877F2;
}

.fa-youtube {
    color: #FF0000;
}

/* Accommodation page */

.image-row {
    display: flex;
    flex-wrap: wrap;
}

.image-wrapper {
    width: 50%;
    padding: 5px;
}

.image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.acco-h2 {
    margin: 20px;
    text-align: center;
}

.acco-p {
    margin: 20px 0;
}

.acco-p p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    .image-wrapper img {
        height: 130px;
    }


}


/* Download link Page */


.educational {
    margin: 20px 20px;
    padding: 20px;
    border-radius: 5px;
}

.educational-h1 {
    margin: 20px 0;
    text-align: center;
}

.educational ul {
    list-style-type: none;
    padding: 0;
}

.educational ul li {
    margin-bottom: 10px;
}

.educational ul li a {
    text-decoration: none;
    color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 10;
}

.educational ul li a:hover {
    text-decoration: underline;
}

.educational ul li .icon {
    margin-left: 10px;
}

/* faqs page */

.collaps h1 {
    text-align: center;
    margin: 25px 10px;
}